# zsh
alias szr="source $ZDOTDIR/.zshrc"
alias ezr="$EDITOR $ZDOTDIR/.zshrc" # edit zshrc
alias ea="$EDITOR $ZDOTDIR/.aliases"
alias eze="$EDITOR $HOME/.zshenv"
alias et="$EDITOR $XDG_CONFIG_HOME/tmux/tmux.conf"

# Preview
alias preview="open -a Preview"

# vim
alias vi="nvim"
alias vid="nvim -d"
alias vidiff="nvim -d"

# Bat
alias cat="bat"

# eza
eza_params=('--git' '--icons' '--classify' '--group-directories-first' '--time-style="+%y/%m/%d %H:%M"' '--group' '--color-scale')
alias ls="eza ${eza_params}"
alias l='ls -la'
alias la='ls -la'
alias lam='ls -la --sort=modified'
alias ll='ls -l'
alias llm='ls -l --sort=modified'
alias lt='ls --tree'
 
# tcping
alias ping="ping_or_tcping"
 
# lazygit
alias lg="lazygit"

# trash-cli
alias rm="echo Use 'del' or 'trash', or the full path i.e. '/bin/rm'"
alias del="trash"

# k8s
# alias k="kubectl"
# alias mk="minikube"
# alias kgp="kubectl get pod -o wide"

# fzf
alias vf='nvim $(fd --type f --hidden --exclude .git | fzf --preview "bat --color=always {}")'
alias cdf='cd $(fd --type d --hidden --exclude .git | fzf)'
alias edot='nvim $(fd --type f . ~/.config/.dotfiles | fzf --preview "bat --color=always {}")'
alias myalias='grep "^alias" ~/.config/zsh/.aliases | fzf'

# find port num
alias portall="sudo lsof -nP | grep LISTEN"

